:root {
    --dark: #0a0a0a;
    --grey: #f6f6f6;
    --light: #ffffff;
}

body {
    font-family: 'Raleway', sans-serif;
}

h1 {
    padding-bottom: 30px;
}

h4 {
    padding-bottom: 50px;
}
.inicio, .clientes, .proveedores {
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}
.navbar {
    min-height: 5rem;
}

.clientes {
    background-color: var(--grey);
}


.bg-light { background-color: var(--light) !important;}
.bg-grey { background-color: var(--grey) !important;}
.bg-dark { background-color: var(--dark) !important;}

