:root {
    --dark: #0a0a0a;
    --grey: #f6f6f6;
    --light: #ffffff;
}

body {
    font-family: 'Raleway', sans-serif;
}

h1 {
    padding-bottom: 30px;
}

h4 {
    padding-bottom: 50px;
}
.inicio, .clientes, .proveedores {
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}
.navbar {
    min-height: 5rem;
}

.clientes {
    background-color: var(--grey);
}

p, h3 {
    padding-bottom: 30px;
}

footer {
    background-color: #115552;
    height: auto;
    width: 100vw;
    padding-top: 30px;
    color: #ffffff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.socials {
    padding-top: 5px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}

.solcials, li {
    margin: 0 10px;
}

.socials, a{
    text-decoration: none;
    color: #ffff;
}

.socials, a, i{
    font-size: 1.1rem;
    transition: colo .4s ease;
}

.socials a:hover i{
    color: bisque;
}

.bg-light { background-color: var(--light) !important;}
.bg-grey { background-color: var(--grey) !important;}
.bg-dark { background-color: var(--dark) !important;}

